.display {
  width: 40vw;
  padding: 2rem 0;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  color: #27ae60;
  background-color: #f0f8ff;
  border-radius: 1rem;
}
